# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*
UserSettings/
MemoryCaptures/

# VS/VS Code
.vscode/
*.csproj
*.sln
*.user
*.unityproj

# OS files
.DS_Store
Thumbs.db

# Docker
**/.env
node_modules/
